<!-- @listsから取得した投稿データをすべて表示 -->
<h1>投稿一覧</h1>
<!--<% %>は画面に表示しない -->
<!--.eachメソッドは配列の要素を順番に取得し繰り返し処理を実行する -->
<% @lists.each do |list| %>
  <p>タイトル</p>
  <span>
    <%= link_to list.title, todolist_path(list.id) %>
  </span>
<% end %>